<div
    class="h-screen bg-[url('/assets/who-am-i-bg.jpg')] bg-cover bg-center text-white"
>
    <div class="flex justify-center items-center h-lvh">
        <div class="w-[85rem] h-[60rem] backdrop-blur-xl rounded-xl">
            <div class="flex justify-between items-center">
                <div class="text-7xl font-bold text-white p-3 text-shadow-lg">
                    Projects
                </div>
                <a href="/"
                    ><div
                        class="text-4xl underline p-6 mt-3 cursor-pointer font-bold"
                    >
                        Go back
                    </div></a
                >
            </div>
            <div class="flex justify-center items-center mt-8 gap-[3rem]">
                <div class="w-[22rem] h-[10rem] rounded-xl relative mt-[2rem]">
                    <a href="{{content:link}}" target="_blank"
                        ><img
                            src="{{content:projectimg}}"
                            class="w-full rounded-xl cursor-pointer"
                    /></a>
                </div>
                <div class="w-[22rem] h-[10rem] rounded-xl relative mt-[2rem]">
                    <a href="{{content:link2}}" target="_blank"
                        ><img
                            src="{{content:projectimg2}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
                <div class="w-[22rem] h-[10rem] rounded-xl relative mt-[2rem]">
                    <a href="{{content:link3}}" target="_blank"
                        ><img
                            src="{{content:projectimg3}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
            </div>
            <div class="flex justify-center items-center mt-8 gap-[3rem]">
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link4}}" target="_blank"
                        ><img
                            src="{{content:projectimg4}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link5}}" target="_blank"
                        ><img
                            src="{{content:projectimg5}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link6}}" target="_blank"
                        ><img
                            src="{{content:projectimg6}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
            </div>
            <div class="flex justify-center items-center mt-8 gap-[3rem]">
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link7}}" target="_blank"
                        ><img
                            src="{{content:projectimg7}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link8}}" target="_blank"
                        ><img
                            src="{{content:projectimg8}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
                <div
                    class="w-[22rem] h-[10rem] rounded-xl relative mt-[3.5rem]"
                >
                    <a href="{{content:link9}}" target="_blank"
                        ><img
                            src="{{content:projectimg9}}"
                            class="w-full rounded-xl"
                    /></a>
                </div>
            </div>
        </div>
    </div>
</div>
